ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ff7cc2;
  display: flex;
  justify-content: center;
  font-family: "Megrim", system-ui;
  border-radius: 25% / 25%;
  outline: 7px solid rgb(255, 175, 218)
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 30px 16px;
  text-decoration: none;
  font-size: 20px;
}

ul li a:hover {
  background-color: #a9609d;
}

body {
  text-align: center;
  background-image: linear-gradient(rgb(254, 161, 211), rgb(255, 96, 181));
}

.figma-link {
  font-size: 40px;
  font-family: "Megrim", system-ui;
  font-style: oblique;
    text-transform: uppercase;
    text-shadow: black 2px 2px;
}

.codepen-link {
  font-size: 40px;
  font-family: "Megrim", system-ui;
  font-style: oblique;
    text-transform: uppercase;
    text-shadow: black 2px 2px;
}

.google-drive-link {
  font-size: 40px;
  font-family: "Megrim", system-ui;
  font-style: oblique;
    text-transform: uppercase;
    text-shadow: black 2px 2px;
}

.github-link {
  font-size: 40px;
  font-family: "Megrim", system-ui;
  font-style: oblique;
    text-transform: uppercase;
    text-shadow: black 2px 2px;
}

.paragraph-project {
  font-family: "B612 Mono", monospace;
  font-size: 25px;
  margin: 20px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #ff7cc2;
  background-clip:padding-box;
  border-radius: 25%;
  outline: 7px solid rgb(255, 175, 218)
}

.paragraph-about {
  font-family: "B612 Mono", monospace;
  font-size: 30px;
  margin: 20px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #ff7cc2;
  background-clip: 700px;
  border-radius: 25%;
  outline: 7px solid rgb(255, 175, 218);
}


.image-about {
  width: 700px;
  height: auto;
  outline: 7px solid rgb(255, 175, 218);
}

h1 {
    font-family: "Megrim", system-ui;
    font-size: 60px;
    font-style: oblique;
    text-transform: uppercase;
    text-shadow: black 2px 2px;
}

h2 {
  font-family: "Megrim", system-ui;
  font-style: oblique;
    text-shadow: black 2px 2px;
    font-size: 45px;
}

.body-1 {
  text-align: center;
  background-image: linear-gradient(rgb(254, 161, 211), rgb(255, 96, 181));
  height: 100vh;
}

.body-2 {
  text-align: center;
  background-image: linear-gradient(rgb(254, 161, 211), rgb(255, 96, 181));
  height: 100%;
}

.image-iframe{
  outline: 7px solid rgb(255, 175, 218);
  border-radius: 25%;
}